h4{
    text-align: center;
    font-weight: lighter;
    color:rgb(106 106 106 / 70%) !important;
}
.cedula{
    width: 100%;
    transform: rotate(90deg);
    margin-top:35%;
}
.cedula img{
    width: 100%;
}